.container__div {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}
.products__div {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:30px;
}
.productBox__div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gray;
    background-color: rgb(51, 105, 114);
    border-radius: 20px;
    color: rgb(255, 239, 239);
    font-size: 20px;
    -webkit-box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
}
.sort__select {
    width: 150px;
    margin: 0 10px 0 10px;
}
.filtr__input {
    margin: 0 10px 0 10px;
    width: 120px;
}
.sort_filter__div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.btn {
    width: 100%;
    margin: 5px 0px 5px 0px;
}
.btn.btn-primary.product {
    width: 200px;
    margin-left: 30px;
}
.btn.btn-primary.report {
    margin-top: 30px;
    width: 100px;
}
.report__div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}